<header>
    <div class="blast-header">
        <!-- <div class="blast-overlay"></div> -->
        <nav class="blast-nav">
            <div class="main-nav">
                <a href=""><span>Write a Review</span></a>
                <a href=""><span>Events</span></a>
                <a href=""><span>Talk</span></a>
                <a href=""><span>Blast for Business</span></a>
            </div>
            <div class="register">
                <a href=""><span class="login">Login</span></a>
                <a href=""><span class="signUp">Sign up</span></a>
            </div>
        </nav>


        <div class="blast-logo">
            <img src="/assets/images/blast-logo.png" alt="">
        </div>

        <div class="search">
            <input class="input1" type="text" placeholder="Find nail salon Plumbers, takeout">
            <input class="input2" type="text" placeholder="Near San Fansisco CA">
            <button>
                <mat-icon class="search-icon">search</mat-icon>
            </button>
        </div>

        <div class="categories">
            <a href=""><span>Plumbers</span></a>
            <a href=""><span>Restaurants</span></a>
            <a href=""><span>Home Services</span>
                <mat-icon class="drop-down">arrow_drop_down</mat-icon>
            </a>

            <a href=""><span>Delivery</span></a>
            <a href=""><span>Black Owned </span>
                <mat-icon class="drop-down">arrow_drop_down</mat-icon>
            </a>
        </div>

        <div class="author">
            <div>Random photo of foods</div>
            <div>Photo by Bob</div>
        </div>
    </div>
</header>