<div class="container">
<div class="list-inline rating-list" *ngFor="let star of stars; let i=index">
  <li
    (click)="countStar(star)"
    [ngClass]="{ selected: star <= selectedValue }"
    (mouseover)="addClass(star)"
    (mouseout)="removeClass()"
  >
    <mat-icon> star</mat-icon>
  </li>
</div>

<div class="txt" >
  <span *ngIf="selectedValue == 0">Select your rating</span>
  <span *ngIf="selectedValue == 1">Not good</span>
  <span *ngIf="selectedValue == 2">Could've been better</span>
  <span *ngIf="selectedValue == 3">Ok</span>
  <span *ngIf="selectedValue == 4">Good</span>
  <span *ngIf="selectedValue == 5">Great</span>
</div>

</div>
