<!-- <button (click)="openDialog()">Test</button> -->
<div class="container">

  <div class="header">
    <div class="companyName"><h2>Kentucky Fried Ckicken</h2></div>
    <div class="guideline"><button (click)="openDialog()">Read our review guidelines</button></div>
  </div>

  <div class="reviewBox">
    <div class="star-ratings">

    </div>
    <textarea cols="92" rows="20" placeholder="This place is the best!"></textarea>
  </div>

  <div class="post-Btn">
    <button>Post Review</button>
  </div>

</div>
